header h1 {
  color: green;
}

input {
  min-width: 45vw;
}

.left {
  width: 50%;
  border: 1px solid blue;
  height: 100%
}

.right {
  width: 50%;
}

.top {
  height: 70vh;
  border: 1px solid green;
  font-size: 1.2rem;
}

.bottom {
  height: 10vh;
}

.allign-left {
  text-align: left;
}

.allign-right {
  text-align: right;
  margin-right: 10px;
}

.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
